@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Navbar */
.navbar {
  background-color: #fff;
  height: 3.5rem;
}
.navbar-collapse {
  background-color: #fff;
}

.nav-link {
  color: #222222;
}
.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.fa-compass {
  color: #ff385c;
  font-size: 2rem;
}
.brand-name {
  color: #ff385c;
  position: relative;
  left: 6px;
  bottom: 4px;
}
/* Footer */
footer {
  margin-top: 2rem;
}
.new {
  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.left,
.right {
  display: flex;
  flex-direction: row;
}
.icons {
  font-size: 1.2rem;
}
.icons:hover {
  transform: scale(1.2);
  color: blue;
}
.list a:hover {
  text-decoration: underline;
}
.list,
.icons {
  margin: 0 1rem;
}
@media screen and (max-width: 650px) {
  .left,
  .right {
    flex-direction: column;
  }
}
/* cards */

.card {
  border: none;
  margin-bottom: 2rem;
}
.card-body {
  padding: 0;
}
.card-img-top {
  border-radius: 1rem;
}

/* Card Effect Overlay */

.card-img-overlay:hover {
  background-color: #fff;
  opacity: 0.2;
}

.add-btn,
.edit-btn {
  background-color: #ff385c;
  margin-right: 2rem;
}

/* Show Page */

.show-img {
  height: 50vh;
}

.show-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card-text {
  margin: 0.5rem 0;
}

/* Styling For error.ejs */

.err-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status {
  color: #ff385c;
  font-weight: 700;
  font-size: 10rem;
  border-radius: 5rem;
}

.less-than {
  font-size: large;
  padding-right: 2px;
}
.home-link a {
  color: blue;
  font-size: 14px;
}

/* Styling for Reviews */

.card-title {
  display: flex;
  justify-content: space-between;
}

.star::after {
  content: "*";
  color: red;
}
